<ion-header>
  <ion-toolbar *ngIf="!isSelected">
    <ion-title>Dashboard</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="search()">
        <ion-icon name="search"></ion-icon>
      </ion-button>
      <ion-button (click)="sort()">
        <ion-icon name="funnel"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar *ngIf="isSelected" color="danger">
    <ion-buttons slot="start">
      <ion-button (click)="cancelSelectable()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{selectedIds.length}} items selected</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="resetSelectable()">
        Reset
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!isSelected">
  <app-dashboard-item
    *ngFor="let room of modifiedRoomList"
    (touchstart)="startSelectable(room.id)"
    (touchend)="cancelSelectable(room.id)"
    [id]="room.id"
    [name]="room.name"
    [deadline]="room.getPaymentDeadlineString()"
    [due]="getDue(room.id)"
  ></app-dashboard-item>
</ion-content>

<ion-content *ngIf="isSelected">
  <app-dashboard-item
    *ngFor="let room of modifiedRoomList" 
    (click)="clickSelectable(room.id)"
    [isSelected]="isSelectableSelected(room.id)"
    [id]="room.id"
    [name]="room.name"
    [deadline]="room.getPaymentDeadlineString()"
    [due]="getDue(room.id)"
  ></app-dashboard-item>
</ion-content>
  
