.vertical{
    display: flex;
    flex-flow: column;
    &.center{
        justify-content: center;
        align-items: center;
    }
    &.left{
        align-items: flex-start;
    }
    &.right{
        align-items: flex-end;
    }
    &.top{
        justify-content: flex-start;
    }
    &.bottom{
        justify-content: flex-end;
    }

}

.selected {
    --background: indianred;
}

.selected > ion-item {
    --background: indianred;
}