<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>    
    <ion-row class="ion-align-items-center">
      <ion-col>
        <ion-label>Number of Rooms</ion-label>
      </ion-col>
      <ion-col size="2" class="ion-align-self-end">
        <ion-input 
          type="number"
          size-xs-2
          (value)="roomIdValue" 
          (ionChange)="setNumberOfRooms($event)"
          (ionBlur)="submitNumberOfRooms()"
        ></ion-input>
      </ion-col>
    </ion-row>

    <ion-row class="ion-align-items-center">
      <ion-col>
        <ion-label>Room ID Value</ion-label>
      </ion-col>
      <ion-col size="auto" class="ion-align-self-end">
        <ion-select (value)="numberOfRooms" (ionChange)="setRoomIdValue($event)">
          <ion-select-option value="numeric">Numeric</ion-select-option>
          <ion-select-option value="alphabetic">Alphabetic</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>

    <ion-row class="ion-align-items-center">
      <ion-col>
        <ion-label>Maximum Due Date</ion-label>
      </ion-col>
      <ion-col size="2" class="ion-align-self-end">
        <ion-input 
          type="number"
          size-xs-2
          (value)="maxDueDate"
          (ionChange)="setMaxDueDate($event)"
          (ionBlur)="submitMaxDueDate()"
        ></ion-input>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
